div.border {
  margin-top: 3px;
  border: 1px solid #ddffcc;
  padding: 3px;
}

code {
  font-family: courier, monospace;
  font-size: 80%;
  color: #448888;
}

pre.code {
  margin: 1.1em 12px;
  border: 1px solid #CCCCCC;
  color: black;
  padding: .4em;
  font-family: courier, monospace;
}

.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

span.tag {
  color: #770088;
}

span.value {
  color: #778800;
}

span.error {
  color: #ff0000;
}

span.task {
  color: black;
}

span.project {
  color: black;
  font-size: 200%;
}

span.comment {
  color: #AA7700;
}

pre.code, .editbox {
  color: #666666;
}
